<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a mi sitio web</h1>
    <p>Esta es la página de inicio.</p>
    <p>Puedes realizar las siguientes operaciones matemáticas:</p>
    <ul>
        <li><a href="/sumar/15/20/">Sumar 18 + 19</a></li>
        <li><a href="/restar/20/19/">Restar 20 - 19</a></li>
        <li><a href="/multiplicar/4/5/">Multiplicar 4 * 5</a></li>
    </ul>
</body>
</html>
